*.key
.Rproj.user
*.html
data/generated/morph-geospiza.rds
data/raw/Bio*
data/raw/franc*
data/raw/fre*
data/raw/sop*
data/raw/post*
drafts/Bio*
exercises/*
drafts/1230200Database_S1.txt
*.png
Session.vim
data/generated/morph-geospiza-group.rds
*.docx
*.pdf
testimonials-nonames.md
testimonials.md
.Rhistory
admin/class.txt
admin/class2.txt
voice.R
whale*
admin/
*.xlsx
